# build artifacts (produced by `make`)
/stegdict
/stegchunks
/sorted_chunks
/usage.inc
/usage_chunks.inc

# test outputs (produced by `t.sh`)
/payload
/fp_mut/
/fp_unp/
/list1.unix
/list2.unix

# test outputs (produced by `t_chunks.sh`)
/english.txt
/mutated.dic
/restored.dic
/recovered
