# build artifacts
parser
test
asm32
asm32_64
fuzz
fuzz64
*.o
insns.dat
out.bin
nc.dat
nc_out.bin
corpus.head
# x86-64 build / scratch
insns64.dat
out64.bin
prog64.bin
prog64.out
prog64.dat
prog64b.o
prog64b.bin
prog64b.out
prog64b.dat
prog64c.o
prog64c.bin
prog64c.out
prog64c.dat
t64.bin
t64.s
big64.bin
b.dat
b.out
recs.dat
p.dat
p.out
